/* body {
    margin: 0;
    width: 100%;
} */
.wrapper {
  border: solid 1px black;
}

/* .header {
  margin-bottom: 10%;
  margin-right: 10%;
  border: solid 1px black;
} */

h1 {
  border: solid 1px black;
}

.border1 {
  border: solid 1px black;
}

.cust-btn {
  width: 78px !important;
}

body {
  /* background-color: #fbfbfb; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    184deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  margin: 0;
  padding: 0;
  width: 100%;
}
/* @media (min-width: 991.98px) {
  main {
    padding-left: 180px;
  }
} */

.scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  /* line-height: 50px; */
  text-align: center;
  /* Starting position */
  transform: translateX(00%);
  /* Apply animation to this element */
  animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

html {
  height: 100%;
}

main {
  /* padding-right: 10%;
  padding-left: 10%; */
}

a {
  /* background-color: rgb(211, 255, 255); */
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    313deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
}

.scroll-d {
  /* background-color: rgb(211, 255, 255); */
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  /* margin-left: 10px; */
  display: flex;
  height: 50px;
  overflow: hidden;
  position: relative;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 999; */
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#full img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

/* #caru-image{
  max-width: 1024px;
} */

/* .card {
  background-color: rgba(253, 187, 45, 1);
}
.card img {
  border: solid 2px rgba(34, 193, 195, 1);
} */

.full-screen {
  display: block;
  height: 500px;
  width: 500px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 100%;
  max-width: 730px;
}

.imgDesc {
  margin: auto;
  display: block;
  max-width: 730px;
  background-color: white;
  height: 18%;
  margin-top: 3px;
  width: 50%;
  color: black;
  opacity: 0.4;
  position: absolute;
  top: 80%;
  right: 25%;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .carousel-inner {
    width: 100%;
    padding: 0;
  }
}

/*  on Small Screens */
@media only screen and (max-width: 576px) {
  .navbar {
    padding-left: 3.33%;
    background: linear-gradient(
      184deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%
    ); /* opacity: 0.7; */
  }
}
/*  on Medium Screens */
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100%;
  }
  .modal {
    padding-top: 50px;
  }
  .close {
    top: 1px;
    right: 5px;
  }

  /* .navbar-collapse ul {
    background-color: black;
  } */
  /* .sideNavDiv {
    padding-left: 3.33%;
    background-color: black;
  } */
  /* #carouselExampleSlidesOnly {
    width: 100%;
  } */
  /* .carousel-item {
    height: 100%;
  } */
  /* .carousel-inner {
    width: 100%;
    padding: 0;
  } */
  /* .row-carousel{
    width: 100%;

  } */
}

#labelSender {
  margin-top: 10px;
}

tr {
  text-align: center;
}
